<div class="footer">
    <div class="router-links">
        <a routerLink="./imprint">Impressum - Legal Notice</a>
        <a routerLink="./data-protection">Datenschützerklärung - Data protection</a>
        <p>@ 2023 by Tijana Couturier</p>
    </div>

    <div class="footer-links">
        <img routerLinkActive="active" routerLink="/" href="#home" src="assets/img/portfolio-logo.png">
        <img (click)="openLink(i)" *ngFor="let img of images; let i = index" src="assets/img/Portfolio-img/{{img}}">
    </div>
</div>