<div id="about-me" class="about-me">

    <div class="about-me-header padding-allProjects">
        <div class="about-div">
            <div>
                <img src="assets/img/profil.png">
            </div>
            <div class="about-me-text">
                <h1 data-aos="fade-right" data-aos-easing="ease-out-cubis">About me.</h1>
                <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">"I'm a frontend developer, with a passion for structuring problems, especially simple and complex web apps, and always enjoy learning new things." </p>
            </div>
        </div>
    </div>

    <div class="aboutPost padding-allProjects">
        <div data-aos="fade-right" data-aos-easing="ease-out-cubis" *ngFor="let about of aboutMe; let i = index" class="journey">
            <div class="img-circle">
                <img src="{{ about.img }}">
            </div>

            <p>{{ about["title"] }}</p>
            <p style="min-height: 70px;">{{ about["post"] }}</p>

        </div>
    </div>
</div>