.about-me {
    width: 100vw;
    max-width: 100%;
    background-color: #1A1A1A;
    .about-me-text {
        color: white;
        font-size: 24px;
        max-width: 400px;
    }
    .about-me-header {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid rgb(26, 76, 67);
        margin-top: 80px;
        margin-bottom: 80px;
        padding-top: 50px;
        img {
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 100%;
            margin-bottom: 50px;
        }
        p {
            color: white;
        }
    }
    .aboutPost {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 180px;
        padding-right: 180px;
        padding-bottom: 50px;
    }
    .journey {
        color: white;
        img {
            position: relative;
            top: 15px;
            left: 15px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
        p {
            padding-right: 30px;
            min-width: 150px;
            max-width: 185px;
            min-height: 40px;
        }
        .img-circle {
            background-color: #2DFCD8;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            // position: relative;
            // left: 50px;
        }
    }
}