<div class="header-text-img padding-allProjects">
    <div>
        <p data-aos="fade-right" data-aos-easing="ease-out-cubis">Hi, <br> I'm <b class="name" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">Tijana</b> Couturier, <br> Front End develop<b class="e">e</b>r</p>

        <a href="#contact" routerLinkActive="active">
            <button mat-raised-button href="#contact" class="primary">Contact me</button>
        </a>
    </div>

    <div class="myImg">
        <img src="assets/img/profil.png">
    </div>
</div>

<div class="arrow">
    <img data-aos="fade-down" src="assets/img/arrow.png">
</div>