.header-text-img {
    display: flex;
    justify-content: space-between;
    padding: 180px;
    img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        margin-top: 30px;
        border-radius: 100%;
    }
    p {
        color: white;
        font-size: 64px;
        font-weight: 800;
    }
    button {
        height: 60px;
        width: 250px;
        background-color: black;
        border: solid 2px #2DFCD8;
        &:hover {
            background-color: #2DFCD8;
            color: black;
        }
    }
    .primary {
        font-size: 24px;
        color: #2DFCD8;
        cursor: pointer;
    }
    .name {
        color: #FA2759;
        transform: scale(2, 3);
        animation-direction: normal
    }
    .e {
        color: #2DFCD8;
    }
}

.arrow {
    height: 90px;
    display: flex;
    justify-content: center;
    img {
        height: 70px;
        animation: pulse 2s infinite;
    }
}