.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        color: #2DFCD8;
        text-decoration: none;
        cursor: pointer;
        padding-left: 5px;
    }
    h1 {
        color: #2DFCD8;
        font-size: 50px;
        display: flex;
        justify-content: center;
        padding-right: 450px;
        @media (max-width: 755px) {
            padding-right: 260px;
        }
        @media (max-width: 575px) {
            padding-right: 200px;
            font-size: 48px;
        }
        @media (max-width: 480px) {
            padding-right: 85px;
            font-size: 35px;
        }
    }
    h5 {
        color: white;
        font-size: 22px;
    }
    p {
        color: white;
        font-size: 22px;
        display: flex;
        justify-content: center;
        @media (max-width: 900px) {
            font-size: 20px;
        }
        @media (max-width: 760px) {
            font-size: 17px;
        }
        @media (max-width: 580px) {
            font-size: 14px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            width: 80%;
        }
    }
    input {
        background-color: rgb(26, 26, 26);
        border: 0;
        padding: 15px;
        min-width: 675px;
        font-size: 18px;
        color: white;
        margin-top: 50px;
        &:focus {
            outline: none !important;
            border: 1px solid #2DFCD8;
            box-shadow: 0 0 8px #32ffdd;
        }
        @media (max-width: 900px) {
            min-width: 600px;
        }
        @media (max-width: 755px) {
            min-width: 500px;
        }
        @media (max-width: 575px) {
            min-width: 85%;
            padding-right: 10px;
            font-size: 17px;
        }
    }
    .message {
        min-height: 150px;
    }
    .form {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 575px) {
            padding-top: 20px;
            width: 85%;
        }
        button {
            background-color: black;
            color: white;
            border: 2px solid #2DFCD8;
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 55px;
            margin-left: calc(100% - 157px);
            cursor: pointer;
            padding: 10px 55px;
            &:hover {
                background-color: #2DFCD8;
                color: black;
            }
            @media (max-width: 575px) {
                padding: 5px 35px;
            }
        }
    }
}