<div id="contact" class="contact" data-aos="fade-right" data-aos-easing="ease-out-cubis">
    <h1>Contact me</h1>
    <p>Get in touch via the from bellow, or by emailing <a href="tijana.couturier@web.de">tijana.couturier@web.de</a>.</p>

    <form (submit)="sendMail()" ngNativeValidate #myForm class="form">

        <input matInput required type="text" name="name" #nameField placeholder="Enter your name *">

        <input pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" matInput email="email" #emailField placeholder="Enter your Email address *" required>

        <input matInput required type="text" message="message" #messageField class="message" placeholder="Enter your message *" required>

        <button #sendButton mat-stroked-button color="primary">Send</button>

    </form>
</div>