<div id="contact" class="contact">
    <h1>Contact me</h1>
    <p>Get in touch via the from bellow, or by emailling <a href="tijana.couturier@web.de">tijana.couturier@web.de</a>.</p>

    <form (submit)="sendMail()" ngNativeValidate #myForm class="form">

        <input [(ngModel)]="names1" [ngModelOptions]="{standalone: true}" matInput required type="text" name="name" #nameField placeholder="Enter your name *">

        <input [(ngModel)]="names2" [ngModelOptions]="{standalone: true}" matInput required type="text" email="email" #emailField placeholder="Enter your Email address *">

        <input [(ngModel)]="names3" [ngModelOptions]="{standalone: true}" matInput required type="text" message="message" #messageField class="message" placeholder="Enter your message *">

        <button [disabled]="names1.length == 0 || names2.length == 0 || names3.length == 0" #sendButton mat-stroked-button color="primary">Send</button>

    </form>





</div>

<!--
[(ngModel)]="names"
 [disabled]="names.length !== 0" 



 <input [(ngModel)]="inputName" required type="text" name="name" #nameField placeholder="Enter your name *">

        <input [(ngModel)]="inputEmail" required type="text" email="email" #emailField placeholder="Enter your Email address *">

        <input [(ngModel)]="inputMessage" required type="text" message="message" #messageField class="message" placeholder="Enter your message *">

        <button [disabled]="inputName.length == 0" [style.background-color]="send ? 'black' : '#2DFCD8'" [style.color]="send ? '#2dfcd964' : 'black'" #sendButton mat-stroked-button color="primary">Send</button>




 [style.background-color]="send ? 'black' : '#2DFCD8'" [style.color]="send ? '#2dfcd964' : 'black'" 

 //kad su ispunjena sva tri slova promeni broju u zeleno. Kad stisnes na send, onda farba weg (disabled)


        <button #sendButton class="send-btn">Send</button>
     <form (submit)="sendMail()" ngNativeValidate #myForm class="form">
        <h5>Name</h5>
        <input required type="text" name="name" #nameField placeholder="Enter your name">
        <h5>Email address</h5>
        <input required type="text" name="email" #emailField placeholder="Enter your Email address">
        <h5>Message</h5>
        <input required type="text" name="message" #messageField class="message" placeholder="Enter your message">

        <button #sendButton class="send-btn">Send</button>
    </form>
-->