<div id="contact" class="contact">
    <h1>Contact me</h1>
    <p>Get in touch via the from bellow, or by emailling <a href="tijana.couturier@web.de">tijana.couturier@web.de</a>.</p>

    <form (submit)="sendMail()" ngNativeValidate #myForm class="form">

        <input [(ngModel)]="names1" [ngModelOptions]="{standalone: true}" matInput required type="text" name="name" #nameField placeholder="Enter your name *">

        <input pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="names2" [ngModelOptions]="{standalone: true}" matInput email="email" #emailField placeholder="Enter your Email address *" aria-required="true">

        <input [(ngModel)]="names3" [ngModelOptions]="{standalone: true}" matInput required type="text" message="message" #messageField class="message" placeholder="Enter your message *" required>

        <button [disabled]="names1.length == 0 || names2.length == 0 || names3.length == 0" #sendButton mat-stroked-button color="primary">Send</button>

    </form>
</div>