.contact {
    margin-top: 100px;
    width: 100vw;
    max-width: 100%;
    a {
        color: #2DFCD8;
        text-decoration: none;
        cursor: pointer;
        padding-left: 5px;
    }
    h1 {
        color: #2DFCD8;
        font-size: 64px;
        display: flex;
        justify-content: center;
        padding-right: 375px;
        @media (max-width: 900px) {
            font-size: 55px;
            padding-right: 350px;
        }
        @media (max-width: 755px) {
            padding-right: 270px;
        }
        @media (max-width: 575px) {
            padding-right: 200px;
            font-size: 48px;
        }
        @media (max-width: 480px) {
            padding-right: 115px;
            font-size: 40px;
        }
    }
    h5 {
        color: white;
        font-size: 22px;
    }
    p {
        color: white;
        font-size: 22px;
        display: flex;
        justify-content: center;
        @media (max-width: 900px) {
            font-size: 20px;
        }
        @media (max-width: 755px) {
            font-size: 15px;
        }
        @media (max-width: 520px) {
            font-size: 14px;
        }
        @media (max-width: 480px) {
            display: block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    input {
        background-color: rgb(26, 26, 26);
        border: 0;
        padding: 20px;
        min-width: 675px;
        //  min-width: 35%;
        font-size: 20px;
        outline-color: rgb(30, 166, 142);
        color: white;
        margin-top: 50px;
        @media (max-width: 900px) {
            min-width: 600px;
        }
        @media (max-width: 755px) {
            min-width: 500px;
        }
        @media (max-width: 575px) {
            min-width: 85%;
            padding-right: 10px;
            font-size: 17px;
        }
    }
    .message {
        min-height: 150px;
    }
    .form {
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 575px) {
            padding-top: 20px;
        }
        button {
            background-color: #2DFCD8;
            color: black;
            // height: 50px;
            // width: 150px;
            font-size: 18px;
            // margin-left: 530px;
            margin-top: 40px;
            margin-bottom: 55px;
            cursor: pointer;
            padding: 20px 330px;
            &:hover {
                background-color: #2DFCD8;
            }
            // width: 30vw;
            // height: auto;
            // align-self: flex-end;
            // text-align: center;
            @media (max-width: 900px) {
                //  margin-left: 490px;
                padding: 15px 300px;
            }
            @media (max-width: 755px) {
                //  margin-left: 390px;
                padding: 15px 250px;
            }
            @media (max-width: 575px) {
                //margin-left: 350px;
                padding: 15px 210px;
            }
            @media (max-width: 505px) {
                //  margin-left: 170px;
                font-size: 16px;
                padding: 15px 190px;
            }
            @media (max-width: 490px) {
                //  margin-left: 170px;
                font-size: 16px;
                padding: 15px 160px;
            }
            @media (max-width: 390px) {
                //  margin-left: 170px;
                font-size: 16px;
                padding: 15px 140px;
            }
            //ausgefüllt:
            //  border: solid 2px rgb(45, 252, 216);
            //   color: rgb(45, 252, 216);
            //   cursor: pointer;
        }
        button:disabled {
            background-color: black;
            border: 2px solid #2dfcd964;
            color: #2dfcd964;
            /* cursor: unset;
             */
            &:hover {
                background-color: #2DFCD8;
                color: black;
            }
        }
    }
}