<header id="home" class="padding-allProjects">
    <img routerLink="/" href="#home" src="assets/img/portfolio-logo.png">

    <div class="links hide-mobile">
        <a routerLink="/" href="#home" routerLinkActive="active">HOME</a>
        <a href="#about-me" routerLinkActive="active">ABOUT ME</a>
        <a href="#portfolio" routerLinkActive="active">PORTFOLIO</a>
    </div>

    <div class="menu hide-desktop">
        <img (click)="openMenu()" src="assets/img/menu.png">
    </div>

    <div *ngIf="mobile" [class.show-overlay-menu]="!isClicked" class="overlay-menu hide-desktop">
        <div routerLink="/" href="#home" routerLinkActive="active">
            <mat-icon (click)="closeMenu()" class="close">close</mat-icon>
        </div>
        <div class="links-mobil">
            <a href="#home">HOME</a>
            <a href="#about-me">ABOUT ME</a>
            <a href="#portfolio">PORTFOLIO</a>
        </div>
    </div>
</header>