header {
    //  left: 0;
    // right: 0;
    height: 80px;
    // position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    @media (max-width: 900px) {
        min-height: 100px;
    }
    img {
        height: 85px;
        margin-top: 70px;
        cursor: pointer;
        @media (max-width: 1250px) {
            height: 70px;
            margin-top: 50px;
        }
        @media (max-width: 900px) {
            margin-top: 35px;
        }
        @media (max-width: 480px) {
            padding-left: 5px;
            height: 55px;
        }
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        margin-left: 40px;
        font-size: 20px;
        padding: 10px;
        &:hover {
            color: #FA2759;
        }
        @media (max-width: 1200px) {
            font-size: 18px;
        }
    }
    .linksActiv {
        color: #FA2759 !important;
    }
    .links {
        transition: all 125ms ease-in-out;
    }
}

.menu {
    filter: invert(1);
    position: absolute;
    width: 40px;
    right: 16px;
    top: 16px;
    cursor: pointer;
    @media (max-width: 900px) {
        top: 0;
    }
    img {
        height: 40px;
    }
}

.overlay-menu {
    background: linear-gradient(180deg, black, 20%, #1e1e1e, 80%, #4b4b4b);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    border-left: 1px solid black;
    transform: translate(251px);
    transition: all 225ms ease-in-out;
}

.show-overlay-menu {
    transform: translate(0);
}

.close {
    position: absolute;
    right: 20px;
    top: 50px;
    height: 40px;
    filter: invert(1);
}

.links-mobil {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    a {
        padding: 25px;
        font-size: 18px;
    }
}

.material-icons {
    font-size: 50px;
}

.mat-icon {
    width: 50px;
}