.text-data-guidelines {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 50px;
    color: white;
    background-color: #1A1A1A;
}

.text-data-guidelines h1 {
    text-align: left!important;
}

.text-data-guidelines h2 {
    text-align: left!important;
}

.text-data-guidelines h3 {
    text-align: left!important;
}

.img {
    height: 50px;
    padding-top: 20px;
}

.text {
    font-weight: 700;
    padding-left: 10px;
}

.info {
    padding-top: 150px;
}