.text-data-guidelines {
    padding-bottom: 50px;
    //  padding-top: 50px;
    color: white;
    @media (max-width: 480px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.text-data-guidelines h1 {
    text-align: left!important;
    font-size: 60px;
    @media (max-width: 1200px) {
        font-size: 55px;
    }
    @media (max-width: 650px) {
        font-size: 40px;
    }
    @media (max-width: 480px) {
        font-size: 34px;
    }
    @media (max-width: 400px) {
        font-size: 30px;
    }
}

ul {
    padding-inline-start: 20px;
    min-width: 295px;
}

.text-data-guidelines h2 {
    text-align: left!important;
}

.text-data-guidelines h3 {
    text-align: left!important;
}

.img {
    height: 50px;
    padding-top: 20px;
}

.text {
    font-weight: 700;
    padding-left: 10px;
}