@import './models/fonts.css';
body,
html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // overflow-x: hidden;
    height: 100%;
    /* width */
     ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #2BBBAD;
        border-radius: 10px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #2DFCD8;
    }
}

.padding-allProjects {
    padding-left: 300px;
    padding-right: 300px;
    @media (max-width: 1250px) {
        padding-left: 150px;
        padding-right: 150px;
    }
    @media (max-width: 900px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: 480px) {
        padding-left: 0;
        padding-right: 0px;
    }
}

.btnActiv {
    background-color: #FA2759 !important;
}

@media (max-width: 900px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .hide-desktop {
        display: none !important;
    }
}


/*
  .scrollbar {
        margin-left: 30px;
        float: right;
        height: 100%;
        width: 13px;
        background: #fff;
        overflow-y: scroll;
        margin-bottom: 25px;
    }
    .force-overflow {
        min-height: 100%;
    }
    .scrollbar-default::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    .scrollbar-default::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    .scrollbar-default::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #2BBBAD;
    }
    .scrollbar-default {
        scrollbar-color: #2BBBAD #F5F5F5;
    }
    */