@import './models/fonts.css';
@import './models/material-icon.css';
body,
html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // overflow-x: hidden;
    height: 100%;
    /* width */
     ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #2BBBAD;
        border-radius: 10px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #2DFCD8;
    }
}

.padding-allProjects {
    padding-left: 100px;
    padding-right: 100px;
    @media (max-width: 900px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: 480px) {
        padding-left: 0;
        padding-right: 0px;
    }
}

.mobile-menu {
    display: flex;
}

.btnActiv {
    background-color: #FA2759 !important;
}

@media (max-width: 900px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .hide-desktop {
        display: none !important;
    }
}